# Terraform Cloud ----------------------------------------------------------------------------------
terraform {
  backend "remote" {
    hostname     = "app.terraform.io"
    organization = "Cisco-SRE"

    workspaces {
      name = "APO-FSO-Lab-01-AWS-EKS"
    }
  }
}
